/********************* Root variables *********************/
:root{
    /* Colors */

    /* Font-sizes */

    /* Border radius */

}

/********************* Reset *********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********************* General *********************/

/********************* Flexbox *********************/

/********************* Main classes *********************/

/********************* Media queries *********************/
