/********************* Root variables *********************/
:root{
    /*********** Colors ***********/
    /* Primary */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /*********** Gradients ***********/
    /* Background */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    /* Circle */
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /*********** Font-sizes ***********/
    --fs-score: 4rem;
    --fs-great: 2rem;
    --fs-p: 1.125rem;

    /*********** Border radius ***********/
    --br-container: 30px;

    /*********** Padding ***********/
    --pd-top-inner-sections: 2rem;

    /*********** Other sizes ***********/
    --score-circle-diameter: 190px;
}

/********************* Reset *********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

/********************* General *********************/
.txt-light-lavender{
    color: var(--light-lavender);
}
.txt-white{
    color: var(--white);
}
.txt-dark-gray-blue{
    color: var(--dark-gray-blue);
}
.width-100perc{
    width: 100%;
}

/********************* Flexbox *********************/
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.d-f-column{
    flex-flow: column wrap;
}
.d-f-space-between{
    justify-content: space-between;
}
.d-f-align-items-center{
    align-items: center;
}
.gap-1-rem{
    gap: 1rem;
}

/********************* Main classes *********************/
main{
    width: 100%;
    min-height: 100vh;
}
.container{
    width: 50%;
    border-radius: var(--br-container);
}
.container #resultSection, .container #summarySection{
    width: calc(100% / 2);
    max-width: 360px;
}
.container #resultSection{
    background-image: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    border-radius: var(--br-container);
    padding: var(--pd-top-inner-sections) 3rem;
}
.container #resultSection .scoreDiv{
    width: var(--score-circle-diameter);
    height: var(--score-circle-diameter);
    border-radius: 50%;
    background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
    margin: calc(var(--pd-top-inner-sections) + 0.5rem);
}
.container #resultSection .scoreDiv .score{
    font-size: var(--fs-score);
    font-weight: 700;
}
.container #resultSection .scoreDiv .maxScore{
    opacity: 60%;
}
.container #resultSection .descriptionScore{
    padding: 0 1rem 1rem 1rem;
}
.container #resultSection .descriptionScore h3{
    font-size: var(--fs-great);
    margin-bottom: 1rem;
}
.container #resultSection .descriptionScore p{
    text-align: center;
    opacity: 80%;
}
.container #summarySection{
    background-color: var(--white);
    padding: var(--pd-top-inner-sections) 2.3rem;
}
.container #summarySection .summaryElements{
    padding: 1rem 0;
}

/********************* Media queries *********************/

